body {
    background-image: linear-gradient(to right, #B40101 , #6D0E0D);

}

header {
    background-color: #ffffff;
}

.header {
    position: relative;
    width: auto;
    height: 100px;
    margin: auto auto;
}

nav {
    position: absolute;
    top: 40%;
    right: 5%; 
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
    font-family: arial;
}

nav a:hover {
    background-color:#6D0E0D;
    color: #ffffff;
}

.header img {
    width: 140px;
    position: absolute;
    top: 16%;
    left: 5%; 
}

.produtos {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.produtos li {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    padding: 20px 0;
    border-radius: 6px;
    flex-wrap: wrap;
}

button {
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #ff4800;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

button:hover {
    background-color: #ff6123;
}

.produtos h2 {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.produtos p {
    font-size: 16px;
    font-family: Arial;
    margin-top: 10px;
}


.preco-produto {
    font-size: 29px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    color:#6D0E0D
}

#pizzaquadrada {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding-top: 200px;
    text-align: center;
    background-color: #fffffe;
}

footer p {
    font-family: Arial;
    font-size: 16px;
    padding-bottom: 10px;
}
footer img {
    width: 13px;
}

main {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
}

form {
    color: #ffffff    
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

#checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: #019626;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    color: #fffffe;
    transition: 0.2s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: #00701c;
    transform: scale(1.02);
}

td, th {
    margin: 20px 0px 40px;
    font-family: Arial;
    color: white;
}